<body>
    <form action="/api/session/logout" method="get">
      <button type="submit">Cerrar Sesión</button>
    </form>
    <form action="/products" method="get">
      <button type="submit">Volver al inicio</button>
    </form>

    <h1>Carrito de {{user.first_name}} {{user.last_name}}</h1>
    <ul>
        {{#each cart.products}}
        <li>
            <h2>Producto {{@index}}</h2>
            <p>Title: {{this.product.title}}</p>
            <p>Cantidad: {{this.quantity}}</p>
            <p>Price: {{this.product.price}}</p>
            
            <!-- Asegúrate de acceder a las propiedades correctas del objeto de producto -->
        </li>
        {{/each}}
    </ul>
</body>