<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products.docs}}
        <li>
            <h2>{{this.title}}</h2>
            <p>Precio: ${{this.price}}</p>
            <p>Categoría: {{this.category}}</p>
            <p>{{this.description}}</p>
            <!-- Botón para agregar al carrito -->
            <form action="/carts/{{cartId}}/products/{{this._id}}" method="POST">
                <button type="submit">Agregar al carrito</button>
            </form>
        </li>
        {{/each}}
    </ul>

    <!-- Paginación -->
    <ul>
        {{#if products.hasNextPage}}
        <li><a href="?page={{products.nextPage}}">Next</a></li>
        {{/if}}
    </ul>
</body>